{% extends "base.html" %}

{% block content %}
<div class="container mt-3">

    {% if messages %}
        {% for message in messages %}

            <div class="alert alert-{{ message.tags }} alert-dismissible fade show">

                {{ message }}

                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert">
                </button>

            </div>

        {% endfor %}
    {% endif %}

</div>

<div class="container mt-4">

    <h2>Import Students</h2>

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form.as_p }}

        <button
            class="btn btn-primary"
            type="submit">

            Import Students

        </button>

    </form>
{% if total_rows %}

<div class="card shadow mt-4">
    <div class="card-header bg-success text-white">
        Import Summary
    </div>

    <div class="card-body">

        <div class="row text-center">

            <div class="col">
                <h2>{{ total_rows }}</h2>
                <p>Total Rows</p>
            </div>

            <div class="col">
                <h2 class="text-success">{{ imported }}</h2>
                <p>Imported</p>
            </div>

            <div class="col">
                <h2 class="text-danger">{{ failed }}</h2>
                <p>Failed</p>
            </div>

        </div>

    </div>
</div>

<table class="table table-bordered mt-4">

    <thead>
        <tr>
            <th>Row</th>
            <th>Error</th>
        </tr>
    </thead>

    <tbody>

    {% for error in errors %}

        <tr>
            <td>{{ error.row }}</td>
            <td>{{ error.message }}</td>
        </tr>

    {% empty %}

        <tr>
            <td colspan="2" class="text-center text-success">
                No Errors 🎉
            </td>
        </tr>

    {% endfor %}

    </tbody>

</table>

{% endif %}

{% endblock %}