<header class="ac-topbar">
                <button class="ac-menu-btn" id="acMenuBtn"><i class="bi bi-list"></i></button>
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=anantra.login7@gmail.com"
                                    target="_blank"
                                    class="text-decoration-none">
                                        <i class="bi bi-box-arrow-right me-1"></i>
                                        Contact Us
                                    </a>


                <div class="ac-topbar-actions">
                    
                    <div class="ac-profile">
                        <div class="ac-avatar">SA</div>
                        <div>
                            <div class="name">Super Admin</div>
                            <div class="role">Platform Owner</div>
                        </div>
                      
                    </div>
                </div>
            </header>
